<%- include('../partials/header') %>
<div class="section">
    <div class="container has-text-centered">
        <p class="title">
            Pokemon is under construction
        </p>
    </div>
</div>
<%- include('../partials/footer') %>